html {
  font-family: 'Oswald',sans-serif;
  line-height: normal;
}

h1 {
  font-size: 4rem;
  margin: auto;
}

strong {
  font-weight: 300;
}

img {
  max-width: 100%;
}

.link {
  color: #ff80bf;
}

.header {
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

{margin: 0; padding: 0;}
body {
  font-size: 20px;
  font-family: 'Oswald';
}

.logo-image {
  width: 225px;
  height: 225px;
  border-radius: 50%;
}

.title {
  text-transform: uppercase;
}
.name {
	text-transform: uppercase;
}

.title {
  line-height: 1.4;
}

.name {
  line-height: 1.2;
}

.responsive {
  margin-bottom: 30px;
  }

.list {
  display: flex;
  flex-flow: column wrap;
  }

.title {
  padding-bottom: 10px;
  }

.image {
  max-width: 375px;
  text-align: center;
  margin: 0 auto;
  }

.title {
  font-size: 23px;
  padding: 10px 0;
  }

.example-image {
  max-width: 45%;
  margin: 0;
  }

.description {
  font-size: 20px;
  padding: 0 10px;
  line-height: 1.4;
  }

.link {
  font-size: 20px;
  padding: 20px 0;
  }


@media screen and (max-width: 579px) {
  .header {
    text-align: center;
    padding: 20px 0;
  }
  .logo {
    padding-bottom: 10px;
  }
  .name {
    font-size: 40px;
  }
  .title {
    font-size: 20px;
  }
  .responsive {
    margin-bottom: 20px;
  }
  .box {
    padding: 0 15px;
  }
  .work {
    padding-bottom: 10px;
  }
  .title {
    font-size: 22px;
  }
  .image {
    min-height: 380px;
  }
  .link {
    font-size: 18px;
  }
}

@media screen and (min-width: 449px) and (max-width: 579px) {
  .work {
    padding-bottom: 15px;
  }
  .title {
    font-size: 25px;
  }
}

@media screen and (min-width: 600px) {
  .header {
    -webkit-box-orient: horizontal;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  .name-title {
    text-align: right;
  }
  .name {
    font-size: 40px;
  }
  .title {
    font-size: 18px;
  }
  .box {
    padding: 0 20px;
  }
  .list {
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .title {
    font-size: 28px;
  }
  .work {
    width: 50%;
    width: 50%;
  }
}

@media screen and (min-width: 580px) and (max-width: 749px) {
  .work {
    padding-bottom: 10px;
  }
  .work {
    width: 100%;
    width: 100%;
  }
  .image {
    min-height: 360px;
  }
}

@media screen and (min-width: 750px) and (max-width: 879px) {
  .work {
    padding-bottom: 16px;
  }
  .box {
    width: 100%;
    padding: 0;
  }
  .work {
    width: 100%;
    width: 100%;
  }
  .image {
    height: 400px;
  }
  .description,
  .link {
    font-size: 20px;
  }
}

@media screen and (min-width: 880px) {
  .name {
    font-size: 45px;
  }
  .work {
    width: 100%;
    width: 100%;
  }
  .title {
    font-size: 30px;
  }
 }

@media screen and (min-width: 1200px) {
  .box {
    width: 100%;
    margin: 0 auto;
  }
  .header {
    padding: 20px;
  }
  .name {
    font-size: 50px;
  }
  .title {
    font-size: 20px;
  }
  .box {
    width: 100%;
    padding: 0;
  }
  .work {
    width: 15px);
    width: 15px);
  }
  .title {
    font-size: 35px;
  }
  .image {
    height: 400px;
  }
  .title {
    font-size: 20px;
  }
  .description,
  .link {
    font-size: 20px;
  }
}
